body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #38bdf8;
}

.card {
    background: #020617;
    border: 1px solid #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 10px;
    color: #a5f3fc;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: none;
    background: #020617;
    color: white;
    border: 1px solid #334155;
}

button {
    background: #38bdf8;
    color: #020617;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #7dd3fc;
}

pre {
    background: #020617;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #334155;
}
